@charset "UTF-8";

nav {
    .container {
        height: 100%;

        form {
            display: inline-block;
            width: 100%;
        }
    }

    ul {
        &.selection {
            li {
                a {
                    &.router-link-active {
                        background-color: $navbar-background-active;
                    }
                }
            }
        }
    }
}