@charset "UTF-8";

$materialize-css-path: "../../../node_modules/materialize-css/sass/components/";

// Mixins
// @import "../../../node_modules/materialize-css/sass/components/prefixer";
@import "components/mixins";
@import "../../../node_modules/materialize-css/sass/components/color";

// Variables;
//@import "../../../node_modules/materialize-css/sass/components/variables";
@import "components/variables";
// Reset
@import "../../../node_modules/materialize-css/sass/components/normalize";
// components
@import "../../../node_modules/materialize-css/sass/components/global";
@import "../../../node_modules/materialize-css/sass/components/icons-material-design";
@import "../../../node_modules/materialize-css/sass/components/grid";
@import "../../../node_modules/materialize-css/sass/components/navbar";
@import "../../../node_modules/materialize-css/sass/components/roboto";
@import "../../../node_modules/materialize-css/sass/components/typography";
@import "../../../node_modules/materialize-css/sass/components/cards";
@import "../../../node_modules/materialize-css/sass/components/toast";
//@import "../../../node_modules/materialize-css/sass/components/tabs";
//@import "../../../node_modules/materialize-css/sass/components/tooltip";
@import "../../../node_modules/materialize-css/sass/components/buttons";
@import "../../../node_modules/materialize-css/sass/components/dropdown";
@import "../../../node_modules/materialize-css/sass/components/waves";
@import "../../../node_modules/materialize-css/sass/components/modal";
@import "../../../node_modules/materialize-css/sass/components/collapsible";
//@import "../../../node_modules/materialize-css/sass/components/chips";
//@import "../../../node_modules/materialize-css/sass/components/materialbox";
@import "../../../node_modules/materialize-css/sass/components/forms/forms";
@import "../../../node_modules/materialize-css/sass/components/table_of_contents";
@import "../../../node_modules/materialize-css/sass/components/sideNav";
@import "../../../node_modules/materialize-css/sass/components/preloader";
//@import "../../../node_modules/materialize-css/sass/components/slider";
//@import "../../../node_modules/materialize-css/sass/components/carousel";
//@import "../../../node_modules/materialize-css/sass/components/date_picker/default";
//@import "../../../node_modules/materialize-css/sass/components/date_picker/default.date";
//@import "../../../node_modules/materialize-css/sass/components/date_picker/default.time";
@import "components/audios";
@import "components/loader_screen";
@import "components/navbar";
@import "components/transitions";
@import "components/panel";

/* ==========================================================================
   SOFEE variables
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Skeleton
 *  2. Sidebar
 *  3. Errors
 *  4. Cursors
 *  5. Cards
 *  6. Text
 *  7. Effects
 */

/* 1. Skeleton
   ========================================================================== */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

//header, main, footer {
//    padding-left: 300px;
//}
//
//@media only screen and (max-width: 992px) {
//    header, main, footer {
//        padding-left: 0;
//    }
//}

/* 2. Sidebar
   ========================================================================== */
.side-nav {
    .userView {
        background-color: $primary-color;

        img {
            margin: auto auto;
        }
    }
}

/* 3. Errors
   ========================================================================== */
.has-error {
    border-bottom: 1px solid color('red', 'base');
}

/* 4. Cursors
   ========================================================================== */
.cursor-pointer {
    cursor: pointer;
}

/* 5. Cards
   ========================================================================== */
.card {
    .card-logo {
        display: block;
        text-align: center;

        i {
            font-size: $card-logo-font-size;
            padding: $card-padding;
            border-radius: 50%;
        }

    }
}

/* 6. Text
   ========================================================================== */
.text-through {
    text-decoration: line-through;
}

/* 7. Effects
   ========================================================================== */
.transition {
    @include transition(200ms);
}